.red {
  background-color: red;
  color: white;
}

.blue {
  background-color: blue;
  color: white;
}

.green {
  background-color: green;
  color: white;
}

.purple {
  background-color: purple;
  color: white;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underlined {
  text-decoration: underline;
}